{% load i18n static%}

<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    </head>

<body>
<main class="container">
<br/>

<hgroup>
    <h2>{% trans "Welcome to Muhkam!" %}</h2>
    <h3>{% trans "Your all-in-one GRC Management Platform" %}</h3>
</hgroup>


<img src='{{ root_url }}/images/muhkam-logo.png' width='300' alt='Muhkam' style='max-width:300px;height:auto;' />

<br/>

{% autoescape off %}



<p></p>



<p>

{% trans "You have been granted access to Muhkam. To get started, use the button below to define your password:" %}

</p>

<p>
<a href="{{ root_url }}/first-connexion?uidb64={{ uid|urlencode }}&token={{ token|urlencode }}" role="button" data-testid="set-password-btn"> {% trans "Set my password" %}</a>
</p>

<p>{% trans "An issue with the link? copy and paste the following in your browser" %}:</p>

<p>
    {{ root_url }}/first-connexion?uidb64={{ uid|urlencode }}&token={{ token|urlencode }}
</p>

<p>

{% trans "This link can only be used once. In case of an issue, you can access your instance" %} <a href="{{root_url}}"><b>{% trans "here" %}</b></a>  {% trans "and request a password reset"%}.

</p>

<p>
{% trans "If you, or your organization, did not make this request, you can simply ignore this email"%}.
</p>

<p>
    {% trans "Learn more about Muhkam" %} <a href="https://wathbahs.com/"><b>{% trans "here" %}</b></a>.
</p>



{% trans "Sincerely"%},<br/>
{% trans "Muhkam Team"%}

</main>

</body>
{% endautoescape %}

</html>
